*.a
*.o
*.blend1
__pycache__
plots
main
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.gch
tags
doc/week41/reveal.js-3.3.0
tmp
app/hiisi_neutral_density/real-model/stl-external
sim_log.txt
*.csv
!results
CMake*
!CMakeLists.txt
Makefile
*.cmake

